<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="InstaFollowers.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="InstaFollowers.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <applicationSettings>
        <InstaFollowers.Properties.Settings>
            <setting name="InstaUsername" serializeAs="String">
                <value>zozo999854</value>
            </setting>
            <setting name="InstaPassword" serializeAs="String">
                <value>zozo99</value>
            </setting>
        </InstaFollowers.Properties.Settings>
    </applicationSettings>
    <userSettings>
        <InstaFollowers.Properties.Settings>
            <setting name="UserAgent" serializeAs="String">
                <value>Instagram 27.0.0.7.97 Android (15/4.0.4; 318dpi; 1280x768; lge; LG-F180L; geeb; gee; en_US)</value>
            </setting>
            <setting name="GUID" serializeAs="String">
                <value>db1c9307-90a9-9e12-f49d-8959a5434b4d</value>
            </setting>
            <setting name="AndroidDeviceID" serializeAs="String">
                <value>android-7fc57406822ec2d4</value>
            </setting>
            <setting name="PhoneID" serializeAs="String">
                <value>1886cc6b-9d2a-443e-4972-3bded80fb15c</value>
            </setting>
            <setting name="InstaHashKey" serializeAs="String">
                <value>109513c04303341a7daf27bb41b268e633b30dcc65a3fe14503f743176113869</value>
            </setting>
        </InstaFollowers.Properties.Settings>
    </userSettings>
</configuration>